In [29]:
import xml.etree.ElementTree as ET
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [ ]:
archivo_xml = 'exportacion.xml'  

tree = ET.parse(archivo_xml)
root = tree.getroot()

In [4]:
#We select the different types of records provided by the health app.
unique_type = set()
for record in root.findall(".//Record[@type]"):  
    type = record.get('type')  
    unique_type.add(type)
unique_type

{'HKCategoryTypeIdentifierHeadphoneAudioExposureEvent',
 'HKCategoryTypeIdentifierSleepAnalysis',
 'HKDataTypeSleepDurationGoal',
 'HKQuantityTypeIdentifierActiveEnergyBurned',
 'HKQuantityTypeIdentifierAppleWalkingSteadiness',
 'HKQuantityTypeIdentifierBasalEnergyBurned',
 'HKQuantityTypeIdentifierBodyMass',
 'HKQuantityTypeIdentifierDistanceWalkingRunning',
 'HKQuantityTypeIdentifierFlightsClimbed',
 'HKQuantityTypeIdentifierHeadphoneAudioExposure',
 'HKQuantityTypeIdentifierHeight',
 'HKQuantityTypeIdentifierStepCount',
 'HKQuantityTypeIdentifierWalkingAsymmetryPercentage',
 'HKQuantityTypeIdentifierWalkingDoubleSupportPercentage',
 'HKQuantityTypeIdentifierWalkingSpeed',
 'HKQuantityTypeIdentifierWalkingStepLength'}

In [4]:
# transform the records into a df 
records_data = []
for record in root.findall(".//Record[@type='HKQuantityTypeIdentifierStepCount']"):
    data = {
        'type': record.get('type'),
        'unit': record.get('unit'),
        'value': record.get('value'),
        'startDate': record.get('startDate'),
        'endDate': record.get('endDate')
    }
    records_data.append(data)

df = pd.DataFrame(records_data)

,type,unit,value,startDate,endDate
0,HKQuantityTypeIdentifierStepCount,count,127,2018-12-29 19:32:27 +0100,2018-12-29 19:36:41 +0100
1,HKQuantityTypeIdentifierStepCount,count,42,2018-12-29 20:00:58 +0100,2018-12-29 20:05:27 +0100
2,HKQuantityTypeIdentifierStepCount,count,69,2018-12-29 20:10:57 +0100,2018-12-29 20:20:54 +0100
3,HKQuantityTypeIdentifierStepCount,count,137,2018-12-29 20:20:57 +0100,2018-12-29 20:30:56 +0100
4,HKQuantityTypeIdentifierStepCount,count,168,2018-12-29 20:30:56 +0100,2018-12-29 20:39:56 +0100
...,...,...,...,...,...
113454,HKQuantityTypeIdentifierStepCount,count,45,2024-02-25 15:09:40 +0100,2024-02-25 15:11:07 +0100
113455,HKQuantityTypeIdentifierStepCount,count,97,2024-02-25 15:35:33 +0100,2024-02-25 15:37:17 +0100
113456,HKQuantityTypeIdentifierStepCount,count,102,2024-02-25 16:57:46 +0100,2024-02-25 17:07:45 +0100
113457,HKQuantityTypeIdentifierStepCount,count,53,2024-02-25 17:07:45 +0100,2024-02-25 17:08:51 +0100
113458,HKQuantityTypeIdentifierStepCount,count,24,2024-02-25 17:55:07 +0100,2024-02-25 17:58:46 +0100

# Convert all records to a df

In [5]:
records_data = []
for uniqueType in unique_type:
    for record in root.findall(f".//Record[@type='{uniqueType}']"):
        data = {
            'type': record.get('type'),
            'unit': record.get('unit'),
            'value': record.get('value'),
            'startDate': record.get('startDate'),
            'endDate': record.get('endDate')
        }
        records_data.append(data)

df = pd.DataFrame(records_data)

# I perform a small EDA and delete the variables that do not contain reported values

In [6]:
df.shape

(492078, 5)

In [14]:
df[df["unit"].notna()]

,type,unit,value,startDate,endDate
4280,HKQuantityTypeIdentifierHeadphoneAudioExposure,dBASPL,61.3529,2020-09-20 19:10:45 +0100,2020-09-20 19:14:56 +0100
4281,HKQuantityTypeIdentifierHeadphoneAudioExposure,dBASPL,76.6343,2020-09-29 17:49:21 +0100,2020-09-29 17:55:52 +0100
4282,HKQuantityTypeIdentifierHeadphoneAudioExposure,dBASPL,79.0971,2020-09-29 18:45:04 +0100,2020-09-29 18:45:31 +0100
4283,HKQuantityTypeIdentifierHeadphoneAudioExposure,dBASPL,81.8957,2020-09-29 18:54:34 +0100,2020-09-29 18:58:47 +0100
4284,HKQuantityTypeIdentifierHeadphoneAudioExposure,dBASPL,92.9585,2020-10-06 14:59:39 +0100,2020-10-06 15:00:15 +0100
...,...,...,...,...,...
491774,HKQuantityTypeIdentifierWalkingSpeed,km/hr,4.572,2024-02-25 14:24:47 +0100,2024-02-25 14:24:50 +0100
491775,HKQuantityTypeIdentifierWalkingSpeed,km/hr,4.104,2024-02-25 15:36:05 +0100,2024-02-25 15:36:07 +0100
491776,HKQuantityTypeIdentifierWalkingSpeed,km/hr,4.5,2024-02-25 15:36:53 +0100,2024-02-25 15:36:56 +0100
491777,HKQuantityTypeIdentifierWalkingSpeed,km/hr,3.996,2024-02-25 15:37:08 +0100,2024-02-25 15:37:15 +0100
491778,HKQuantityTypeIdentifierWalkingSpeed,km/hr,4.5,2024-02-25 17:07:42 +0100,2024-02-25 17:07:44 +0100

In [15]:
df[df["unit"].notna()].unit.value_counts(dropna=False)

count     124579
km        113184
%          54869
km/hr      46102
cm         46083
dBASPL     45050
kcal       36714
Cal        20914
hr             3
kg             1
Name: unit, dtype: int64

In [17]:
df[df["unit"].isna()].type.value_counts(dropna=False)

HKCategoryTypeIdentifierSleepAnalysis                  4280
HKCategoryTypeIdentifierHeadphoneAudioExposureEvent     299
Name: type, dtype: int64

In [19]:
df[df["type"]=="HKCategoryTypeIdentifierHeadphoneAudioExposureEvent"].value.value_counts()

HKCategoryValueHeadphoneAudioExposureEventSevenDayLimit    299
Name: value, dtype: int64

In [20]:
df[df["type"]=="HKCategoryTypeIdentifierSleepAnalysis"].value.value_counts()

HKCategoryValueSleepAnalysisInBed    4280
Name: value, dtype: int64

In [80]:
df_values = df[df["unit"].notna()]

In [81]:
df_values

,type,unit,value,startDate,endDate
4280,HKQuantityTypeIdentifierHeadphoneAudioExposure,dBASPL,61.3529,2020-09-20 19:10:45 +0100,2020-09-20 19:14:56 +0100
4281,HKQuantityTypeIdentifierHeadphoneAudioExposure,dBASPL,76.6343,2020-09-29 17:49:21 +0100,2020-09-29 17:55:52 +0100
4282,HKQuantityTypeIdentifierHeadphoneAudioExposure,dBASPL,79.0971,2020-09-29 18:45:04 +0100,2020-09-29 18:45:31 +0100
4283,HKQuantityTypeIdentifierHeadphoneAudioExposure,dBASPL,81.8957,2020-09-29 18:54:34 +0100,2020-09-29 18:58:47 +0100
4284,HKQuantityTypeIdentifierHeadphoneAudioExposure,dBASPL,92.9585,2020-10-06 14:59:39 +0100,2020-10-06 15:00:15 +0100
...,...,...,...,...,...
491774,HKQuantityTypeIdentifierWalkingSpeed,km/hr,4.572,2024-02-25 14:24:47 +0100,2024-02-25 14:24:50 +0100
491775,HKQuantityTypeIdentifierWalkingSpeed,km/hr,4.104,2024-02-25 15:36:05 +0100,2024-02-25 15:36:07 +0100
491776,HKQuantityTypeIdentifierWalkingSpeed,km/hr,4.5,2024-02-25 15:36:53 +0100,2024-02-25 15:36:56 +0100
491777,HKQuantityTypeIdentifierWalkingSpeed,km/hr,3.996,2024-02-25 15:37:08 +0100,2024-02-25 15:37:15 +0100
491778,HKQuantityTypeIdentifierWalkingSpeed,km/hr,4.5,2024-02-25 17:07:42 +0100,2024-02-25 17:07:44 +0100

In [24]:
df_values.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 487499 entries, 4280 to 491778
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   type       487499 non-null  object
 1   unit       487499 non-null  object
 2   value      487499 non-null  object
 3   startDate  487499 non-null  object
 4   endDate    487499 non-null  object
dtypes: object(5)
memory usage: 22.3+ MB

In [82]:
df_values['startDate'] = pd.to_datetime(df_values['startDate'])
df_values['endDate'] = pd.to_datetime(df_values['endDate'])

In [83]:
df_values['startDate_date'] = df_values['startDate'].dt.date
df_values['endDate_date'] = df_values['endDate'].dt.date
df_values['startDate_time'] = df_values['startDate'].dt.time
df_values['endDate_time'] = df_values['endDate'].dt.time

In [84]:
del(df_values["startDate"])
del(df_values["endDate"])

In [85]:
df_values

,type,unit,value,startDate_date,endDate_date,startDate_time,endDate_time
4280,HKQuantityTypeIdentifierHeadphoneAudioExposure,dBASPL,61.3529,2020-09-20,2020-09-20,19:10:45,19:14:56
4281,HKQuantityTypeIdentifierHeadphoneAudioExposure,dBASPL,76.6343,2020-09-29,2020-09-29,17:49:21,17:55:52
4282,HKQuantityTypeIdentifierHeadphoneAudioExposure,dBASPL,79.0971,2020-09-29,2020-09-29,18:45:04,18:45:31
4283,HKQuantityTypeIdentifierHeadphoneAudioExposure,dBASPL,81.8957,2020-09-29,2020-09-29,18:54:34,18:58:47
4284,HKQuantityTypeIdentifierHeadphoneAudioExposure,dBASPL,92.9585,2020-10-06,2020-10-06,14:59:39,15:00:15
...,...,...,...,...,...,...,...
491774,HKQuantityTypeIdentifierWalkingSpeed,km/hr,4.572,2024-02-25,2024-02-25,14:24:47,14:24:50
491775,HKQuantityTypeIdentifierWalkingSpeed,km/hr,4.104,2024-02-25,2024-02-25,15:36:05,15:36:07
491776,HKQuantityTypeIdentifierWalkingSpeed,km/hr,4.5,2024-02-25,2024-02-25,15:36:53,15:36:56
491777,HKQuantityTypeIdentifierWalkingSpeed,km/hr,3.996,2024-02-25,2024-02-25,15:37:08,15:37:15
491778,HKQuantityTypeIdentifierWalkingSpeed,km/hr,4.5,2024-02-25,2024-02-25,17:07:42,17:07:44

## Let's rename the different types of records

In [86]:
df_values.type.value_counts().to_dict()

{'HKQuantityTypeIdentifierStepCount': 113459,
 'HKQuantityTypeIdentifierDistanceWalkingRunning': 113184,
 'HKQuantityTypeIdentifierWalkingSpeed': 46102,
 'HKQuantityTypeIdentifierWalkingStepLength': 46082,
 'HKQuantityTypeIdentifierHeadphoneAudioExposure': 45050,
 'HKQuantityTypeIdentifierWalkingDoubleSupportPercentage': 38748,
 'HKQuantityTypeIdentifierBasalEnergyBurned': 36714,
 'HKQuantityTypeIdentifierActiveEnergyBurned': 20914,
 'HKQuantityTypeIdentifierWalkingAsymmetryPercentage': 16044,
 'HKQuantityTypeIdentifierFlightsClimbed': 11120,
 'HKQuantityTypeIdentifierAppleWalkingSteadiness': 77,
 'HKDataTypeSleepDurationGoal': 3,
 'HKQuantityTypeIdentifierHeight': 1,
 'HKQuantityTypeIdentifierBodyMass': 1}

In [87]:
rename_type = {
 'HKQuantityTypeIdentifierStepCount': 'Steps',
 'HKQuantityTypeIdentifierDistanceWalkingRunning': 'Distance Walking Running',
 'HKQuantityTypeIdentifierWalkingSpeed': 'Walking Speed',
 'HKQuantityTypeIdentifierWalkingStepLength': 'Walking Step Length',
 'HKQuantityTypeIdentifierHeadphoneAudioExposure': 'Headphone Audio Exposure',
 'HKQuantityTypeIdentifierWalkingDoubleSupportPercentage': 'Walking Double Support Percentage',
 'HKQuantityTypeIdentifierBasalEnergyBurned': 'Basal Energy Burned',
 'HKQuantityTypeIdentifierActiveEnergyBurned': 'Active Energy Burned',
 'HKQuantityTypeIdentifierWalkingAsymmetryPercentage': 'Walking Asymmetry Percentage',
 'HKQuantityTypeIdentifierFlightsClimbed': 'Flights Climbed',
 'HKQuantityTypeIdentifierAppleWalkingSteadiness': 'Walking Steadiness',
 'HKDataTypeSleepDurationGoal': 'Duration Goal',
 'HKQuantityTypeIdentifierHeight': 'Height',
 'HKQuantityTypeIdentifierBodyMass': 'BodyMass'}

In [88]:
df_values.type = df_values.type.map(rename_type)

In [89]:
df_values

,type,unit,value,startDate_date,endDate_date,startDate_time,endDate_time
4280,Headphone Audio Exposure,dBASPL,61.3529,2020-09-20,2020-09-20,19:10:45,19:14:56
4281,Headphone Audio Exposure,dBASPL,76.6343,2020-09-29,2020-09-29,17:49:21,17:55:52
4282,Headphone Audio Exposure,dBASPL,79.0971,2020-09-29,2020-09-29,18:45:04,18:45:31
4283,Headphone Audio Exposure,dBASPL,81.8957,2020-09-29,2020-09-29,18:54:34,18:58:47
4284,Headphone Audio Exposure,dBASPL,92.9585,2020-10-06,2020-10-06,14:59:39,15:00:15
...,...,...,...,...,...,...,...
491774,Walking Speed,km/hr,4.572,2024-02-25,2024-02-25,14:24:47,14:24:50
491775,Walking Speed,km/hr,4.104,2024-02-25,2024-02-25,15:36:05,15:36:07
491776,Walking Speed,km/hr,4.5,2024-02-25,2024-02-25,15:36:53,15:36:56
491777,Walking Speed,km/hr,3.996,2024-02-25,2024-02-25,15:37:08,15:37:15
491778,Walking Speed,km/hr,4.5,2024-02-25,2024-02-25,17:07:42,17:07:44

In [90]:
# Comprobamos si no hay registros que empiecen en un dia y terminen en otro dia
df_values.loc[df_values["startDate_date"]==df_values["endDate_date"], 'sameDay']=1
df_values.sameDay.value_counts()

1.0    486124
Name: sameDay, dtype: int64

In [91]:
df_values["value"]= df_values["value"].astype(float)
group_df = df_values.groupby(['type', 'startDate_date', 'endDate_date'])['value'].sum().reset_index()

In [92]:
group_df.type.value_counts()

Distance Walking Running             2649
Steps                                2648
Flights Climbed                      2068
Walking Speed                        1261
Walking Step Length                  1261
Walking Double Support Percentage    1259
Walking Asymmetry Percentage         1184
Headphone Audio Exposure             1135
Basal Energy Burned                   921
Active Energy Burned                  514
Walking Steadiness                     77
Duration Goal                           3
BodyMass                                1
Height                                  1
Name: type, dtype: int64

In [93]:
group_df

                       type startDate_date endDate_date     value
0      Active Energy Burned     2022-11-22   2022-11-22   314.042
1      Active Energy Burned     2022-11-23   2022-11-23   462.682
2      Active Energy Burned     2022-11-24   2022-11-24   327.585
3      Active Energy Burned     2022-11-25   2022-11-25    85.837
4      Active Energy Burned     2022-11-26   2022-11-26   780.222
...                     ...            ...          ...       ...
14977   Walking Step Length     2024-02-21   2024-02-21  4769.000
14978   Walking Step Length     2024-02-22   2024-02-22  3361.000
14979   Walking Step Length     2024-02-23   2024-02-23  2631.000
14980   Walking Step Length     2024-02-24   2024-02-24  2074.000
14981   Walking Step Length     2024-02-25   2024-02-25  1624.000

[14982 rows x 4 columns]

In [94]:
group_df.to_parquet("dataClean.parquet")