In [1]:
import xml.etree.ElementTree as ET
import pandas as pd

archivo_xml = 'exportación.xml'  

tree = ET.parse(archivo_xml)
root = tree.getroot()

records_data = []
for record in root.findall(".//Record[@type='HKQuantityTypeIdentifierStepCount']"):
    data = {
        'type': record.get('type'),
        'unit': record.get('unit'),
        'value': record.get('value'),
        'startDate': record.get('startDate'),
        'endDate': record.get('endDate')
    }
    records_data.append(data)
s
df = pd.DataFrame(records_data)

In [2]:
df

,type,unit,value,startDate,endDate
0,HKQuantityTypeIdentifierStepCount,count,127,2018-12-29 19:32:27 +0100,2018-12-29 19:36:41 +0100
1,HKQuantityTypeIdentifierStepCount,count,42,2018-12-29 20:00:58 +0100,2018-12-29 20:05:27 +0100
2,HKQuantityTypeIdentifierStepCount,count,69,2018-12-29 20:10:57 +0100,2018-12-29 20:20:54 +0100
3,HKQuantityTypeIdentifierStepCount,count,137,2018-12-29 20:20:57 +0100,2018-12-29 20:30:56 +0100
4,HKQuantityTypeIdentifierStepCount,count,168,2018-12-29 20:30:56 +0100,2018-12-29 20:39:56 +0100
...,...,...,...,...,...
113454,HKQuantityTypeIdentifierStepCount,count,45,2024-02-25 15:09:40 +0100,2024-02-25 15:11:07 +0100
113455,HKQuantityTypeIdentifierStepCount,count,97,2024-02-25 15:35:33 +0100,2024-02-25 15:37:17 +0100
113456,HKQuantityTypeIdentifierStepCount,count,102,2024-02-25 16:57:46 +0100,2024-02-25 17:07:45 +0100
113457,HKQuantityTypeIdentifierStepCount,count,53,2024-02-25 17:07:45 +0100,2024-02-25 17:08:51 +0100
113458,HKQuantityTypeIdentifierStepCount,count,24,2024-02-25 17:55:07 +0100,2024-02-25 17:58:46 +0100